<!DOCTYPE html>
<!-- Game deleting page -->
<html>

<head>
  <title>Deleting game</title>
  <link rel="icon" href="/static/favicon.ico">
</head>

<body>
  <h2>Deleting game</h2>

  <form action="/delete_game/{{ game.id }}" method="post">
    <p>
      Are you sure you want to delete the game?
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" name="delete" value="Delete" />
    <input type="submit" name="cancel" value="Cancel" />
  </form>
</body>

</html>