{% extends "layout.html" %}
<!-- Game editing page -->
{% block title%}Editing game{% endblock %}

{% block content %}
<h2>Editing game</h2>
<hr />

<form action="/edit_game/{{ game.id }}" method="post" enctype="multipart/form-data">
  <p>
    {% if filled.title %}
      <label for="title">Title</label>: <br />
      <input id="title" type="text" name="title" value="{{ filled.title }}" maxlength="100" required />
    {% else %}
      <label for="title">Title</label>: <br />
      <input id="title" type="text" name="title" value="{{ game.title }}" maxlength="100" required />
    {% endif %}
  </p>

  <p>
    {% if filled.description %}
      <label for="description">Description</label>:<br />
      <textarea id="description" name="description" rows="10" cols="80" maxlength="5000" required>{{ filled.description }}</textarea>
    {% else %}
      <label for="description">Description</label>:<br />
      <textarea id="description" name="description" rows="10" cols="80" maxlength="5000" required>{{ game.description }}</textarea>
    {% endif %}
  </p>

  <p>
    Categories: <br />
    {% for category in all_classes['Category'] %}
      {% if filled %}
        {% if category in filled.classes['Category'] %}
          <label>
            <input type="checkbox" name="classes" value="Category:{{ category }}" checked> {{ category }}
          </label>
        {% else %}
          <label>
            <input type="checkbox" name="classes" value="Category:{{ category }}"> {{ category }}
          </label>
        {% endif %}
        {% if loop.index % 5 == 0 %}
            <br />
        {% endif %}

      {% else %}
        {% if category in classes['Category'] %}
          <label>
            <input type="checkbox" name="classes" value="Category:{{ category }}" checked> {{ category }}
          </label>
        {% else %}
          <label>
            <input type="checkbox" name="classes" value="Category:{{ category }}"> {{ category }}
          </label>
        {% endif %}
        {% if loop.index % 5 == 0 %}
            <br />
        {% endif %}
      {% endif %}
    {% endfor %}
  </p>
  
  {% if images %}
    <p>
      Select the images for deletion: <br />
      {% for image in images %}
        <div class="edit_game_image">
          <label>
            <input type="checkbox" name="delete_images" value="{{ image.id }}" />
            <img src="/image/{{ image.id }}" alt="{{ game.title }}'s image {{ loop.index }}" />
          </label>
        </div>
      {% endfor %}
    </p>
  {% endif %}

  <p>
    <label for="images_label">New images</label>: <br />
    <small>(The images have to be .jpg-files and have a maximum size of 100 kB)</small> <br />
    <small>(You can select multiple images by holding ctrl)</small> <br />
    <input id="images_label" type="file" name="new_images" accept=".jpg" multiple />
  </p>
  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" value="Send"/>
</form>
{% endblock %}