{% extends "layout.html" %}
<!-- Review editing page -->
{% block title%}Editing review{% endblock %}

{% block content %}
<h2>Editing review</h2>
<hr />

<form action="/edit_review/{{ review.id }}" method="post">
  <p>
    <label for="content">* Review (max 5000 characters)</label>:<br />
    <textarea id="content" name="content" rows="10" cols="80" maxlength="5000" required>{{ review.content }}</textarea>
  </p>
  <p>
    Previous score: {{ review.score }}
  </p>
  <p>
    <label for="score">* New score (1-5)</label>:
    <select id="score" name="score">
      {% if filled %}
        {% for score in range(1, 6) %}
          {% if filled.score == score|string %}
            <option value="{{ score }}" selected >{{ score }}</option>
          {% else %}
            <option value="{{ score }}">{{ score }}</option>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for score in range(1, 6) %}
          {% if score == review.score %}
            <option value="{{ score }}" selected>{{ score }}</option>
          {% else %}
            <option value="{{ score }}">{{ score }}</option>
          {% endif %}
        {% endfor %}
      {% endif %}
    </select>
  </p>

  {% for message in get_flashed_messages() %}
  <p class="error">
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" value="Send"/>
</form>
{% endblock %}