<!DOCTYPE html>
<html>

<head>
  <title>{{ game.id }}</title>
  <link rel="icon" href="/static/favicon.ico">
</head>

<body>
  <h1>{{ game.title }}</h1> <!-- game info-->
  <h4>Published by <a href="/user/{{ game.user_id }}">{{ game.username }}</a> at {{ game.uploaded_at }}</h4>
  <p>
    {{ game.description }}
  </p>
  <p>
    <b>{{ reviews | count }} reviews with an average score of {{ average.average }}</b>
  </p>

  {% if game.user_id == session.user_id %}
  <p>
    <a href="/edit_game/{{ game.id }}">Edit</a> |
    <a href="/delete_game/{{ game.id }}">Delete</a>
  </p>
  {% endif %}

  <a href="/">Homepage</a>
  <hr />
  
  {% if session.user_id and session.developer == 0 %} <!-- adding a new review (only for users) -->
  <h2>New review</h2>

  <form action="/new_review" method="post">
    <p>
      Review: <br />
      <textarea name="content" rows="10" cols="80" maxlength="5000" required></textarea>
    </p>
    <p>
      Score:
      <select name="score" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </p>
    <input type="hidden" name="game_id" value="{{ game.id }}" />
    <input type="submit" value="Send" />
  </form>
  <hr />
  {% endif %}

  <h3>Reviews</h3>
  {% for review in reviews %} <!-- reviews -->
  <p>
    <a href="/user/{{ review.user_id }}">{{ review.username }}</a> ({{ review.sent_at }}):
  </p>
  <p>
    {{ review.content}}
  </p>
  <p>
    <b>score: {{ review.score }}</b>
  </p>
  {% if review.user_id == session.user_id %}
  <p>
    <a href="/edit_review/{{ review.id }}">Edit</a> |
    <a href="/delete_review/{{ review.id }}">Delete</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}
</body>

</html>