<!DOCTYPE html>
<!-- Homepage -->
<html>

<head>
  <title>Homepage</title>
  <link rel="icon" href="/static/favicon.ico">
</head>

<body>
  <h1>Homepage</h1>

  {% if session.username %} <!-- Logged in -->
  <p>
    Logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a> |
    <a href="/logout">Logout</a> |
    <a href="/search">Search</a>
  </p>

  {% else %} <!-- Not logged in -->
  <p>
    <a href="/register">Create an account</a> |
    <a href="/search">Search</a>
  </p>
  
  <p>
    Or login
  </p>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Login" />
  </form>
  {% endif %}

  <hr />

  {% if session.user_id and session.developer == 1 %} <!-- adding a new game (only for developers) -->
  <h2>New game</h2>
  <form action="/new_game" method="post">
    <p>
      Name of the game: <br />
      <input type="text" name="title" maxlength="100" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="10" cols="80" maxlength="5000" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" value="send" />
  </form>
  <hr />
  {% endif %}

  {% for game in games %} <!-- displays the games and some info -->
  <p>
    <a href="/game/{{ game.id }}">{{ game.title }}</a>
    <br />
    Published by <a href="/user/{{ game.user_id }}">{{ game.username }}</a> at: {{ game.uploaded_at }}
    <br />
    {% if game.total != 0 %}
    <b>{{ game.total }} reviews with an average score of {{ game.average }}</b>
    {% else %}
    <b>No reviews</b>
    {% endif %}
  </p>
  {% if game.user_id == session.user_id %}
  <p>
    <a href="/edit_game/{{ game.id }}">Edit</a> |
    <a href="/delete_game/{{ game.id }}">Delete</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  <p> <!-- Paging -->
    <a href="/{{ page - 1}}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/{{ page + 1}}">&gt;&gt;</a>
  </p>
  <hr />
</body>

</html>