{% extends "layout.html" %}
<!-- Homepage -->
{% block title%}Homepage{% endblock %}

{% block content %}
<h2>Homepage</h2>
<hr />

{% if session.user_id and session.developer == 1 %} <!-- adding a new game (only for developers) -->
<h3>New game</h3>
<form action="/{{ page }}" method="post" enctype="multipart/form-data">
  <p>
    <label for="title">* Title</label>: <br />
    <input id="title" type="text" name="title" maxlength="100" value="{{ filled.title }}" required/>
  </p>
  <p>
    <label for="description">* Description</label>: <br />
    <textarea id="description" name="description" rows="10" cols="80" maxlength="5000" required>{{ filled.description }}</textarea>
  </p>
  <p>
    Categories: <br />
    {% for category in all_classes['Category'] %}
      {% if filled %}
        {% if category in filled.classes['Category'] %}
          <label>
            <input type="checkbox" name="classes" value="Category:{{ category }}" checked /> {{ category }}
          </label>
        {% else %}
          <label>
            <input type="checkbox" name="classes" value="Category:{{ category }}" /> {{ category }}
          </label>
        {% endif %}
      {% else %}
        <label>
          <input type="checkbox" name="classes" value="Category:{{ category }}" /> {{ category }}
        </label>
      {% endif %}
      {% if loop.index % 5 == 0 %} <!-- only allows 5 categories per line -->
        <br />
      {% endif %}
    {% endfor %}
  </p>
  <p>
    <label for="images_label">Images</label>: <br />
    <small>(The images have to be .jpg-files and have a maximum size of a 100 kB)</small> <br />
    <small>(You can select multiple images by holding ctrl)</small> <br />
    <input id="images_label" type="file" name="images" accept=".jpg" multiple />
  </p>
  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" value="send" />
</form>
<hr />
{% else %}
<p>
  (Login as a developer to upload games)
</p>
<hr />
{% endif %}

{% if games | count != 0 %}
<h3>Games</h3>
{% else %}
<h3>No uploaded games</h3>
{% endif %}

{% for game in games %} <!-- displays the games and some info -->
<div class="game">
  <p>
    <a href="/game/{{ game.id }}">{{ game.title }}</a>
  </p>
  <p>
    Published by <a href="/user/{{ game.user_id }}">{{ game.username }}</a> at: {{ game.uploaded_at }} <br />
    {% if all_game_classes[game.id] %}
      {% for category in all_game_classes[game.id]['Category'] if all_game_classes[game.id]['Category'] %}
        <div class="category">{{ category }}</div>
        {% if loop.index % 5 == 0 %}
          <br />
        {% endif %}
      {% endfor %}
      <br />
    {% endif %}
    {% if game.total != 0 %}
    <b>{{ game.total }} reviews with an average score of {{ game.average }}</b>
    {% else %}
    <b>No reviews</b>
    {% endif %}
  </p>
  {% if game.user_id == session.user_id %}
  <p>
    <a href="/edit_game/{{ game.id }}">Edit</a> |
    <a href="/delete_game/{{ game.id }}">Delete</a>
  </p>
  {% endif %}
</div>
{% endfor %}

<p> <!-- Paging -->
  <a href="/{{ page - 1}}">&lt;&lt;</a>
  Page {{ page }}/{{ page_count }}
  <a href="/{{ page + 1}}">&gt;&gt;</a>
</p>
</div>
{% endblock %}