{% extends "layout.html" %}
<!-- Homepage -->
{% block title%}Homepage{% endblock %}

{% block content %}
<h2>Homepage</h2>

{% if session.user_id and session.developer == 1 %} <!-- adding a new game (only for developers) -->
<hr />
<h3>New game</h3>
<form action="/new_game" method="post">
  <p>
    <label for="title">Name of the game</label>: <br />
    <input id="title" type="text" name="title" maxlength="100" required/>
  </p>
  <p>
    <label for="description">Description</label>: <br />
    <textarea id="description" name="description" rows="10" cols="80" maxlength="5000" required></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" value="send" />
</form>
<hr />
{% else %}
<hr />
<p>
  (Login as a developer to upload games)
</p>
<hr />
{% endif %}

{% if games | count != 0 %}
<h3>Games</h3>
{% else %}
<h3>No uploaded games</h3>
{% endif %}

{% for game in games %} <!-- displays the games and some info -->
<div class="game">
  <p>
    <a href="/game/{{ game.id }}">{{ game.title }}</a>
  </p>
  <p>
    Published by <a href="/user/{{ game.user_id }}">{{ game.username }}</a> at: {{ game.uploaded_at }}
    <br />
    {% if game.total != 0 %}
    <b>{{ game.total }} reviews with an average score of {{ game.average }}</b>
    {% else %}
    <b>No reviews</b>
    {% endif %}
  </p>
  {% if game.user_id == session.user_id %}
  <p>
    <a href="/edit_game/{{ game.id }}">Edit</a> |
    <a href="/delete_game/{{ game.id }}">Delete</a>
  </p>
  {% endif %}
</div>
{% endfor %}

<p> <!-- Paging -->
  <a href="/{{ page - 1}}">&lt;&lt;</a>
  Page {{ page }}/{{ page_count }}
  <a href="/{{ page + 1}}">&gt;&gt;</a>
</p>
<hr />
</div>
{% endblock %}