<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="icon" href="/static/favicon.ico">
</head>

<body>
  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="50" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" maxlength="50" required/>
    </p>
    <p>
      Password again: <br />
      <input type="password" name="password2" maxlength="50" required/>
    </p>
    <p>
      <input type="radio" name="developer" value="0" required/> User (post reviews)
      <input type="radio" name="developer" value="1" required/> Developer (post games)
    </p>
    <input type="submit" value="Create account" />
  </form>

  <hr />
  <a href="/">Homepage</a>
</body>

</html>